 <center> <h1> Hi <%=first_n.capitalize%> <%=last_n.capitalize%> you are <%=age%>   <center> 
<center>  you have <%=hair_c%> hair and <%=eye_c%>  <center>
<center>  your favorite food and drink is <%=food%> <%=drink%>  <center>
<center>  and your three lucky numbers are <%=lnum1%> <%=lnum2%> <%=lnum3%> 
the sum of your three lucky numbers are <%=answer%></h1> <center>
