<h1> Hi <%=first_n.capitalize%> <%=last_n.capitalize%> you are <%=age%>  </h1> 
<h2> you have <%=hair_c%> hair and <%=eye_c%> </h2>
<h3> your favorite food and drink is <%=food%> <%=drink%> </h3>
<h4> and your three lucky numbers are <%=lnum1%> <%=lnum2%> <%=lnum3%></h4>
